* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

  background-color: lightblue;
}

.GameContainer {

  width: 800px;
  height: 600px;
  border: 1px solid red;

  margin: auto;

  display: flex;

}

.GameObjectSelector {

  border: 1px solid orange;
  margin: 5px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.GameMap {

  border: 1px solid black;
  margin: 5px;
  width: 590px;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  min-height: 0;
  min-width: 0;
}

.GameIcon {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid purple;
  margin: 0;
  overflow: hidden;
  min-width: 0;
}

.GameTile {
  position: relative;
  overflow: hidden;
  min-width: 0;
}

.Sprite {
  position: absolute;
}